
#baby_background {
	width: 100%;
	height: 100%;
	position: fixed;
	
	background-repeat: no-repeat;
	background-position: top center;
	background: url(../Images/baby_background.jpg); 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}

#baby_cover {
	width: 500vw;
	height: 500vh;
	position: fixed;
	display: none;
	z-index: 2;
	
	background: rgba(19, 19, 19, 0.7);
	
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#baby_mobi_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
	display: none;
	
	background: rgba(19, 19, 19, 0.7);
}

#baby_mobi_cover div {
	position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	text-align: center;
	
	border: 5px solid #ffb5b3;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#baby_mobi_cover div span {
	width: 80%;
	height: auto;
	display: inline-block;
	
	line-height: 50px;
	text-align: center;
	color: #FAFAFA;
	font-size: 5vw;
	text-shadow: 2px 2px 2px #ff8480;
}

#baby_cover:hover, #baby_mobi_cover:hover {
	cursor: pointer;
}

#baby_greet {
	width: auto;
	height: auto;
	max-width: 850px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	
	text-align: center;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#baby_wrapper {
	width: 100%;
	height: auto;
	min-height: 100vh;
	position: relative;
}

#baby_images {
	width: 800px;
	height: 850px;
	position: absolute;
	left: 50%;
	top: 0%;
	
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#baby_images_inner {
	width: 100%;
	height: 100%;
	max-height: 700px;
	max-width: 800px;
	position: relative;
}

#baby_images_inner div {
	position: absolute;
	margin: 0px 0px;
	overflow: hidden;
	
	text-align: center;
	font-size: 36px;
	text-shadow: 2px 2px 2px #ff8480;
	
	-webkit-filter: translate(-50%, -50%);
	-moz-filter: translate(-50%, -50%);
	-ms-filter: translate(-50%, -50%);
	-o-filter: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0px 0px 10px #ff8480;
	-moz-box-shadow: 0px 0px 10px #ff8480;
	box-shadow: 0px 0px 10px #ff8480;
	
	-webkit-transition: all 275ms linear;
    -moz-transition: all 275ms linear;
    -o-transition: all 275ms linear;
    -ms-transition: all 275ms linear;
    transition: all 275ms linear;
	
	border: 5px solid #ffb5b3;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#baby_images_inner div:hover {
	cursor: pointer;
}

#baby_images_inner div span {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	
	color: #FAFAFA;
	line-height: 50px;
	
	-webkit-filter: translate(-50%, -50%);
	-moz-filter: translate(-50%, -50%);
	-ms-filter: translate(-50%, -50%);
	-o-filter: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	-webkit-transition: all 275ms linear;
    -moz-transition: all 275ms linear;
    -o-transition: all 275ms linear;
    -ms-transition: all 275ms linear;
    transition: all 275ms linear;
}

#baby_images_inner div b {
	width: 100%;
	height: 100%;
	display: block;
	
	background-repeat: no-repeat;
	background-position: top center;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-webkit-transition: all 275ms linear;
    -moz-transition: all 275ms linear;
    -o-transition: all 275ms linear;
    -ms-transition: all 275ms linear;
    transition: all 275ms linear;
}

#baby1 {
	width: 100px;
	height: 100px;
	top: 13%;
	left: 70%;
	display: none;
}

#baby1 b {
	background: url(../Images/babyannabel1.jpg); 
}

#baby2 {
	width: 115px;
	height: 115px;
	top: 9%;
	left: 39%;
	display: none;
}

#baby2 b {
	background: url(../Images/babyannabel2.jpg);
}
	
#baby3 {
	width: 130px;
	height: 130px;
	top: 23%;
	left: 16%;
	display: none;
}

#baby3 b {
	background: url(../Images/babyannabel3.jpg); 
}

#baby4 {
	width: 145px;
	height: 145px;
	top: 27%;
	left: 34%;
	display: none;
}

#baby4 b {
	background: url(../Images/babyannabel4.jpg); 
}

#baby5 {
	width: 160px;
	height: 160px;
	top: 20%;
	left: 54%;
	display: none;
}

#baby5 b {
	background: url(../Images/babyannabel5.jpg); 
}

#baby6 {
	width: 175px;
	height: 175px;
	top: 33%;
	left: 73%;
	display: none;
}

#baby6 b {
	background: url(../Images/babyannabel6.jpg); 
}

#baby7 {
	width: 190px;
	height: 190px;
	top: 59%;
	left: 78%;
	display: none;
}

#baby7 b {
	background: url(../Images/babyannabel7.jpg); 
}

#baby8 {
	width: 205px;
	height: 205px;
	top: 81%;
	left: 61%;
	display: none;
}

#baby8 b {
	background: url(../Images/babyannabel8.jpg); 
}

#baby9 {
	width: 220px;
	height: 220px;
	top: 79%;
	left: 34%;
	display: none;
}

#baby9 b {
	background: url(../Images/babyannabel9.jpg); 
}

#baby10 {
	width: 235px;
	height: 235px;
	top: 50%;
	left: 19%;
	display: none;
}

#baby10 b {
	background: url(../Images/babyannabel10.jpg); 
}

#baby11 {
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	display: none;
}

#baby11 b {
	background: url(../Images/babyannabel11.jpg); 
}

#baby_message {
	width: 100%;
	height: 150px;
	display: none;
	
	text-align: center;
}

.baby_message_p {
	color: #FAFAFA;
	font-size: 36px;
	text-shadow: 2px 2px 2px #ff8480;
}

.baby_message_h {
	margin-bottom: 35px;
	
	color: #FAFAFA;
	font-size: 64px;
	font-weight: normal;
	text-shadow: 2px 2px 2px #ff8480;
}

.baby_message_span {
	min-width: 250px;
	max-width: 250px;
	height: 50px;
	margin: 40px auto;
	display: block;
	position: relative;
	overflow: hidden;
	
	background: #ff8480;
	font-family: "Roboto Condensed", sans-serif;
	text-shadow: 2px 2px 2px #ff8480;
	line-height: 45px;
	color: #FAFAFA;
	font-size: 28px;
	
	border: 2px solid #ff8480;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: 0px 1px 5px #ff3a33;
	-moz-box-shadow: 0px 1px 5px #ff3a33;
	box-shadow: 0px 1px 5px #ff3a33;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.baby_message_span:hover {
	cursor: pointer;
	background: #ff9c99;
	border: 2px solid #ff9c99;
	
	-webkit-transition: all 125ms ease-out;
    -moz-transition: all 125ms ease-out;
    -o-transition: all 125ms ease-out;
    -ms-transition: all 125ms ease-out;
    transition: all 125ms ease-out;
	
	-webkit-box-shadow: 0px 3px 5px #ff8480;
	-moz-box-shadow: 0px 3px 5px #ff8480;
	box-shadow: 0px 3px 5px #ff8480;
}

@media only screen and (max-width: 866px) {
	#baby_images {
		width: 90%;
		height: auto;
		top: 150px;
	}
	
	#baby_cover {
		top: -150px;
	}
	
	#baby_images_inner {
		width: 100%;
		height: auto;
		max-width: 100%;
		max-height: auto;
		display: inline-block;
	}
	
	#baby_images_inner div {
		margin: 30px 0px;
		position: relative;
	}
	
	#baby1 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby2 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}

	#baby3 {
	width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby4 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby5 {
	width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	 #baby6 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	 #baby7 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby8 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby9 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby10 {
		width: 275px !important;
		height: 275px !important; 
		
		left: 50% !important;
	}
	
	#baby11 {
		width: 275px;
		height: 275px;
		
		left: 50%;
	}
	
	#baby_message {
		margin-top: -100px;
	}
}


