
#top_nav {
	width: 100%;
	height: 800px;
	position: relative;
	
	background-repeat: no-repeat;
	background-position: top center !important;
	background: url(../Images/header_background.jpg);
	background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#top_nav svg {
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	background: transparent;
	fill: #f9f9fb;
}

#nav {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 1;
	
	background: rgba(38, 42, 64, 0.95);
	
	-webkit-box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
	-moz-box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
	box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
}

#nav .container {
	position: relative;
	
	padding: 0px 10px;
}

#nav .container .logo {
	width: auto;
	height: 80px;
	padding: 0px 30px;
	display: inline-block;
	float: left;
	
	font-family: "Damion", cursive;
	color: #00cc55;
	line-height: 80px;
	font-size: 32px;
	font-weight: 500;
}

#nav_wide {
	width: auto;
	height: 100%;
	display: inline-block;
	padding: 0px 20px;
	margin-left: 50px;
	list-style: none;
}

#nav_wide li {
	width: auto;
	height: 100%;
	padding: 0px 20px;
	display: inline-block;
	position: relative;
	float: left;
	
	font-family: "Roboto Condensed", sans-serif;
	line-height: 80px;
	font-size: 15px;
	color: #FAFAFA;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	
	-webkit-transition: all 50ms ease-in;
	-moz-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

#nav_wide li i {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	
	line-height: 74px;
	font-size: 15px;
	color: #00cc55;
	
	pointer-events: none;
}

#nav_wide li:hover {
	cursor: pointer;
	
	color: #00cc55 !important;
}

#nav_wide li ul {
	width: auto;
	height: auto;
	max-width: 0px;
	max-height: 0px;
	padding: 0px 0px;
	margin: 0px 0px;
	position: absolute;
	top: 60px;
	left: 20px;
	overflow: hidden;
	
	background: rgba(48, 53, 80, 0.98);
	
	filter: alpha(opacity=0);
	opacity: 0;
	
	-webkit-box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
	-moz-box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
	box-shadow: 0px 3px 10px rgba(19, 22, 32, 0.4);
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 225ms ease-in;
	-moz-transition: all 225ms ease-in;
	-o-transition: all 225ms ease-in;
	-ms-transition: all 225ms ease-in;
	transition: all 225ms ease-in;
}

#nav_wide li ul li {
	min-width: 150px;
	height: 50px;
	padding: 0px 30px 0px 26px;
	
	text-align: left;
	line-height: 50px;
	font-size: 15px;
	text-transform: capitalize;
	letter-spacing: 0.8px;
	
	border-left: 4px solid transparent;
	border-bottom: 1px solid #393f60;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#nav_wide li ul li:hover {
	background: #212436;
	color: #FAFAFA !important;
	
	border-left-color: #00cc55;
}

#nav_wide .nav_dropdown_bottom {
	border-bottom: none ;
}

#header {
	width: 100%;
	height: 100%;
	padding: 0px 30px;
	
	line-height: 800px;
	text-align: center;
}

#header h1 {
	display: inline-block;
	visibility: hidden;
	
	color: #393e60;
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 2px;
	text-shadow: 0px 0px 10px rgba(19, 21, 32, 0.1);
}

#header h1 * {
	color: #393e60;
	font-size: 32px;
}

#nav_small {
	width: 80px;
	height: 80px;
	display: none;
	float: right;
	position: relative;
	
	text-align: center;
}

#bar_wrapper {
	width: auto;
	height: 15px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	
	line-height: 0px;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#nav_small span {
	width: 30px;
	height: 3px;
	margin-bottom: 5px;
	display: inline-block;
	
	background: #FAFAFA;
	
	-webkit-transition: transform 225ms linear, opacity 225ms linear;
	-moz-transition: transform 225ms linear, opacity 225ms linear;
	-o-transition: transform 225ms linear, opacity 225ms linear;
	-ms-transition: transform 225ms linear, opacity 225ms linear;
	transition: transform 225ms linear, opacity 225ms linear;
	
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

#bar_top {
	margin-top: -15px;
}

#nav_small:hover {
	cursor: pointer;
}

#nav_small:hover span {
	background: #00cc55 !important;
}

#nav_small ul {
	width: 100vw;
	height: auto;
	padding: 20px 0px 20px 0px;
	display: inline-block;
	overflow: hidden;
	display: none;
	list-style: none;
	position: fixed;
	top: 80px;
	left: 0px;
	
	background: rgba(38, 42, 64, 0.95);
	
	-webkit-box-shadow: 0px 6px 10px rgba(19, 22, 32, 0.2);
	-moz-box-shadow: 0px 6px 10px rgba(19, 22, 32, 0.2);
	box-shadow: 0px 6px 10px rgba(19, 22, 32, 0.2);
}

#nav_small ul li {
	width: 100%;
	height: 45px;
	
	line-height: 45px;
	color: #FAFAFA;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.8px;
	
	-webkit-transition: all 50ms ease-in;
	-moz-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

#nav_small ul li:hover {
	color: #00cc55;
}

#nav_small ul div {
	margin: 15px 0px;
	
	border-bottom: 1px solid #303550;
}

#nav_small ul a li {
	color: #717aa8;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 0.6px;
}

#nav_small a:hover {
	text-decoration: none;
}

@media screen and (max-width: 816px) {
	#nav_wide {
		display: none;
	}
	
	#nav_small {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	#nav .container {
		max-width: 100%;
	}
}

