
#about_me {
	width: 100%;
	height: auto;
	padding: 75px 20px 0px 20px;
	position: relative;
	overflow: hidden;
	
	background: #f9f9fb;
}

#about_me i {
	width: auto;
	height: auto;
	position: absolute;
	top: -562px;
	left: -562px;
	
	color: #eff2f5;
	font-size: 1028px;
}

#about_me .container {
	padding: 0px 0px;
}

#about_me .container .col-lg-6 {
	padding: 10px 30px;
}

#about_me .container span {
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 35px 0px;
	
	font-family: "Ubuntu", sans-serif;
	color: #393e60;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 1.5px;
}

#about_me .container p {
	color: #8090b3;
	font-size: 16px;
	line-height: 32px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

#about_me .container p b {
	color: #7082a9;
	font-weight: 600;
	letter-spacing: 0.5px;
}

#about_me .container p a {
	text-decoration: underline;
	color: #7082a9;
	font-weight: 600;
	letter-spacing: 0.5px;
}

#about_me .container p a:hover {
	color: #394560;
	
	-webkit-transition: color 75ms ease-in;
	-moz-transition: color 75ms ease-in;
	-o-transition: color 75ms ease-in;
	-ms-transition: color 75ms ease-in;
	transition: color 75ms ease-in;
}


