
#design_principles {
	width: 100%;
	height: auto;
	padding: 185px 0px 75px 0px;
	position: relative;
	
	background: #f3f3f7;
}

#design_principles svg {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
	
	background: #f3f3f7;
	fill: #f9f9fb;
}

#design_principles h2 {
	margin-bottom: 75px;	

	color: #393e60;
}

#design_principles h2 * {
	color: #393e60;
}

#design_principles .container {
	padding: 0px 0px;
}

#cards i {
	width: auto;
	height: auto;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	
	color: #1c2230;
	text-align: center;
	font-size: calc(36px + 2vw);
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#cards .col-lg-6 .container {
	padding: 10px 10px;
}

#cards .col-3 {
	width: auto;
	height: auto;
	min-height: 175px;
	padding: 0px 0px;
	position: relative;
	
	background: #ecedf3;
	
	border-left: 5px solid #00cc55;
	border-right: 2px solid #e0e2eb;
	
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	
	-webkit-box-shadow: 0px 4px 4px #e0e2eb;
	-moz-box-shadow: 0px 4px 4px #e0e2eb;
	box-shadow: 0px 4px 4px #e0e2eb;
}

#cards .col-9 {
	width: auto;
	height: auto;
	min-height: 175px;
	
	background: #ecedf3;
	
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	
	-webkit-box-shadow: 0px 4px 4px #e0e2eb;
	-moz-box-shadow: 0px 4px 4px #e0e2eb;
	box-shadow: 0px 4px 4px #e0e2eb;
}

#cards .col-9 span {
	display: inline-block;
	margin: 25px 0px 15px 0px;
	
	color: #393e60;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
}

#cards .col-9 p {
	color: #8090b3;
	font-size: 16px;
	line-height: 32px;
	font-weight: 500;
	letter-spacing: 0.3px;
}


