
#top_nav {
	width: 100%;
	height: 600px;
	position: relative;
	
	background-repeat: no-repeat;
	background-position: top center !important;
	background: url(../Images/header_background.jpg);

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#nav {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1;
	
	background: #131520;
	
	-webkit-box-shadow: 0px 1px 2px #30364f;
	-moz-box-shadow: 0px 1px 2px #30364f;
	box-shadow: 0px 1px 2px #30364f;
}

#nav .container {
	position: relative;
	
	padding: 0px 10px;
}

#nav_wide {
	width: auto;
	height: 100%;
	display: inline-block;
	padding: 0px 20px;
	margin-left: 50px;
	list-style: none;
}

#nav_wide li {
	width: auto;
	height: 100%;
	padding: 0px 20px;
	display: inline-block;
	position: relative;
	float: left;
	
	line-height: 60px;
	font-size: 16px;
	color: #FAFAFA;
	
	-webkit-transition: all 50ms ease-in;
	-moz-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

#nav_wide li i {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	
	line-height: 55px;
	font-size: 16px;
	color: #00cc55;
}

#nav_wide li:hover {
	cursor: pointer;
	
	color: #00cc55 !important;
}

#nav_wide li ul {
	width: auto;
	height: auto;
	max-width: 0px;
	max-height: 0px;
	padding: 0px 0px;
	margin: 0px 0px;
	position: absolute;
	top: 50px;
	left: 20px;
	overflow: hidden;
	
	background: #1d202f;
	
	filter: alpha(opacity=0);
	opacity: 0;
	
	-webkit-box-shadow: 0px 2px 4px #30364f;
	-moz-box-shadow: 0px 2px 4px #30364f;
	box-shadow: 0px 2px 4px #30364f;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 275ms ease-in;
	-moz-transition: all 275ms ease-in;
	-o-transition: all 275ms ease-in;
	-ms-transition: all 275ms ease-in;
	transition: all 275ms ease-in;
}

#nav_wide li ul li {
	width: 150px;
	height: 45px;
	padding: 0px 0px;
	
	text-align: center;
	line-height: 45px;
	font-size: 15px;
}

#nav_wide li ul li:hover {
	background: #30374f;
	color: #FAFAFA !important;
}

#nav .watermark span i {
	width: auto;
	height: 100%;
	display: inline-block;
	
	line-height: 56px;
	font-size: 42px;
	color: #1d2230;
}

#nav .watermark span span {
	font-size: 16px;
}

#nav .watermark .watermark_sub {
	line-height: 56px;
	font-size: 16px;
}

#header {
	width: 100%;
	height: 100%;
	padding: 0px 30px;
	
	line-height: 600px;
	text-align: center;
}

#header h1 {
	display: inline-block;
	visibility: hidden;
	
	font-family: "Roboto Condensed", sans-serif;
	color: #4d5480;
	font-size: 32px;
}

#header h1 * {
	font-family: "Roboto Condensed", sans-serif;
	color: #4d5480;
	font-size: 32px;
}

#nav_small {
	width: 60px;
	height: 60px;
	display: none;
	float: right;
	
	line-height: 60px;
	text-align: center;
	font-size: 24px;
}

#nav_small i {
	color: #FAFAFA;
}

#nav_small:hover {
	cursor: pointer;
}

#nav_small:hover i {
	color: #00cc55 !important;
	
	-webkit-transition: all 50ms ease-in;
	-moz-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

#nav_small ul {
	width: 100vw;
	height: auto;
	padding: 20px 0px 30px 0px;
	display: inline-block;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 60px;
	left: 0px;
	
	background: #131520;
	
	-webkit-box-shadow: 0px 2px 2px #20264f;
	-moz-box-shadow: 0px 2px 2px #20264f;
	box-shadow: 0px 2px 2px #30364f;
}

#nav_small ul li {
	width: 100%;
	height: 45px;
	
	line-height: 45px;
	color: #FAFAFA;
	font-size: 16px;
	
	-webkit-transition: all 50ms ease-in;
	-moz-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

#nav_small ul li:hover {
	color: #00cc55;
}

#nav_small ul div {
	margin: 15px 0px;
	
	border-bottom: 1px solid #272b3f;
}

#nav_small ul a li {
	font-weight: bold;
	color: #616b9e;
}

#nav_small a:hover {
	text-decoration: none;
}

@media screen and (max-width: 816px) {
	#nav_wide {
		display: none;
	}
	
	#nav_small {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	#nav .container {
		max-width: 100%;
	}
}

